version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: nestjs-app
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy

volumes:
  mongo-data:
